<!doctype html>
<html>
    <head>
        <title>Formulário de Registro</title>
    </head>
    <body>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.first_name.label }} {{ form.first_name() }}</br>
            {{ form.second_name.label }} {{ form.second_name() }}</br>
            {{ form.email.label }} {{ form.email() }}</br>
            {% for error in form.email.errors %}
                <b>{{ error }}</b></br>
            {% endfor %}
            {{ form.password.label }} {{ form.password() }}</br>
            {% for error in form.password.errors %}
                <b>{{ error }}</b></br>
            {% endfor %}
            {{ form.confirm.label }} {{ form.confirm() }}</br>
            {{ form.submit() }}
        </form>
    </body>
</html>
